@font-face {
  font-family: "Salsa";
  src: url("Salsa-Regular.ttf") format("truetype");
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

img,
a {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  -webkit-touch-callout: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  draggable: false;
}

body {
  margin: 0;
}

.main-container-bot {
  margin-top: 80px;
}

.main-backgroundgrey {
  background-color: #252525;
  height: 100%;
  min-height: 100vh;
  display: flex;
}

.main-backgroundblue {
  width: 1000px;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(37, 37, 37, 0.5) 0%,
      rgba(37, 37, 37, 0) 100%
    ),
    #179de8;
  margin: auto;
}

.rank-backgroundgrey {
  background-color: #252525;
  height: 100%;
  min-height: 100vh;
  display: flex;
}

.rank-backgroundblue {
  width: 1000px;
  height: 100%;
  min-height: 100vh;

  background: linear-gradient(
      180deg,
      rgba(37, 37, 37, 0.5) 0%,
      rgba(37, 37, 37, 0) 100%
    ),
    #179de8;
  margin: auto;
}

.main-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.main-logo-style {
  height: 153px;
  border-radius: 96px;
  background: linear-gradient(
    180deg,
    rgba(219, 200, 113, 0.2) 66.67%,
    rgba(0, 0, 0, 0) 100%
  );
}

.main-police-title {
  z-index: 1;
  font-family: Salsa;
  font-style: normal;
  font-weight: bolder;
  font-size: 40px;
  line-height: 44px;
  color: #179de8;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.rank-police-pseudo {
  z-index: 1;
  font-family: Salsa;
  font-style: normal;
  font-weight: bolder;
  font-size: 32px;
  line-height: 32px;
  color: #252525;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.main-mot-police {
  font-family: Salsa;
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  line-height: 44px;
  color: #f7f7f7;
}

.rank-people-letter {
  font-family: Salsa;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
}

.main-mot-police-input {
  border: none;
  border-bottom: 3px solid white;
  margin-bottom: 5px;
  background-color: #252525;
  width: 100%;
  font-family: Salsa;
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  line-height: 40px;
  color: #f7f7f7;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.main-actor-screen {
  height: 300px;
  width: 300px;
  background: #f7f7f7;
  outline: 10px solid #252525;
  border-radius: 2px;
}

.rank-create-textfield-containe {
  height: 50px;
  width: 250px;
  background: #f7f7f7;
  outline: 5px solid #252525;
  border-radius: 2px;
}

.main-film-screen {
  height: 300px;
  width: 300px;
  background: #f7f7f7;
  outline: 10px solid #252525;
  border-radius: 2px;
}

.main-mp3-screen-launcher {
  height: 60px;
  width: 674px;
  background: #f7f7f7;
  outline: 10px solid #252525;
  border-radius: 2px;
}

.main-actor-settings {
  margin-top: 10px;
  height: 56px;
  width: 180px;
  background-color: #e3e3e3;
  outline: 10px solid #252525;
  border-radius: 2px;
}

.main-actor-settings-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 12px;
}

.main-film-settings {
  margin-top: 10px;
  height: 56px;
  width: 180px;
  background-color: #e3e3e3;
  outline: 10px solid #252525;
  border-radius: 2px;
}

.main-actor-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-film-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-mp3-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-mp3-screen-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.main-container {
  margin-top: 80px;
}

.main-container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-mp3-title-container {
  z-index: 1;
  margin-left: 150px;
}

.main-actor-setting-search {
  cursor: pointer;
}

.main-actor-settings-search-container {
  background-image: url("./assets/search.svg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  padding: 25px 25px;
  margin-top: 3px;
  cursor: pointer;
}

.main-mp3-settings-search-container {
  z-index: 1;
  position: absolute;
  background-image: url("./assets/search.svg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  margin-top: 55px;
  padding: 20px 20px;
  cursor: pointer;
}

.main-mot-container {
  height: 50px;
  width: 240px;
  background-color: #252525;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-film-screen-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.main-film-settings-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-mot-edit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}

.main-film-setting-edit-style {
  cursor: "pointer";
  margin-left: 15px;
  margin-top: 5px;
}

.main-film-setting-edit-style {
  height: 45px;
  width: 45px;
}

.main-mp3-screen-setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-mp3-setting-container {
  height: 60px;
  width: 60px;
  background-color: #e3e3e3;
  outline: 10px solid #252525;
  border-radius: 2px;
}

.main-gotorank-police {
  font-family: Salsa;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #252525;
}

.main-gotorank-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
}

.main-gotorank {
  background: #f7f7f7;
  border: 5px solid #252525;
  cursor: pointer;
}

.main-container-footer {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
}

.main-gotorank-icon-style {
  margin-left: 20px;
}

.rank-people-picture {
  height: 120px;
  width: 120px;
  background: #c4c4c4;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank-create-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rank-create-input-container {
  margin-left: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.rank-create-input {
  position: relative;
  border: 0;
  width: 230px;
  outline: None;
  background: #f7f7f7;
  font-family: Salsa;
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  line-height: 40px;
  color: #252525;
}

.rank-create-textfield-containe {
  height: 50px;
  width: 250px;
  background: #f7f7f7;
  outline: 5px solid #252525;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.rank-limit {
  height: 5px;
  border-width: 0;
  width: auto;
  margin: 32px 32px;
  background-color: #000000;
}

.rank-top-container {
  margin-top: 64px;
  margin-left: 64px;
}

.rank-fullPeople {
  padding: 0px 16px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 140px;
}

.rank-fullPeople-point-police {
  font-family: Salsa;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #252525;
}

.rank-fullPeople-point-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.rank-fullPeople-point-minus {
  height: 30px;
  width: 30px;
  background: #e3e3e3;
  border: 5px solid #252525;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rank-fullPeople-point-value {
  height: 45px;
  width: 80px;
  background: #f7f7f7;
  outline: 5px solid #252525;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank-bot-container {
  margin: 0px 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .main-mp3-title-container {
    z-index: 1;
    margin-left: 15vw;
  }
}
